.amf-newsletter {
}

.articles-list {
	list-style-type: none;
	margin-left: -1.2rem;
}

.article-list-item {
	margin-bottom:0.5rem;
}

.article-list-item p {
	padding-left: 1rem;
}

.headers{
	color: #1F70FF;
}

.issue-section {
	margin-bottom: 1rem;
	border-bottom: 2px dashed #ACACAC;
}

.issue-without-article-section
{
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.month-div {
	padding-bottom: 1rem;
}

.month-name-header {
	background-color: #CCCCCC;
 	border: 2px solid #A6A6A6;
 	color: #000;
 	padding: 6px 12px;
 	text-align: center;
 	text-decoration: none;
 	font-size: 16px;
}

.non-bold-headers {
	font-weight: normal;
}

.search-results-div {
	border-bottom: 2px dashed #ACACAC;
}
